.password-input-container {
  position: relative;
  width: 100%;
}

.show-hide {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  &:focus,
  &:hover {
    border: 1px solid #0070f3;
  }
}
